<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css">
  <script src="https://registry.npmmirror.com/xiaochuan-vue3-source/0.0.5/files/dist/3.3.4/vue.global.prod.js"></script>
</head>
<body>
  <div id="app">{{{content}}}</div>
  <script src="/main.js"></script>
</body>
</html>