<template>
  <div class="app">
    <div>count is {{count}}</div>
    <div @click="add">add</div>
  </div>

</template>

<script setup lang="ts">
import { ref } from 'vue';

const count = ref(0);

function add() {
  count.value++;
}

</script>

<style scoped>
.app {
  margin: 0;
  padding: 0;
}

</style>
